{% extends 'authenticate/base.html' %}
{% block content %}
<h2 class='text-center'>Edit Profile</h2>
  <form method="POST" action="{% url 'edit_profile' %}">
    {% csrf_token %}
    {% if form.errors %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      <p>Your form has errors</p>
      {% for field in form %}
         {% if field.errors %}
         {{ field.errors }}
         {% endif %}
      {% endfor %}
      </div>

    {% endif %}
    {{ form.as_p }}

  <input type="submit" value="Edit Profile" class="btn btn-secondary">
  </form>
  <p><small><a href="{% url 'change_password' %}">Click Here</a> To change your password</small></p>
{% endblock %}
